<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type"
    content="text/thml"; charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <head>
      <h1><%= title %></h1>
    </head>
    <div role="main">
      <p><%= content %></p>
      <form action="/other" method="post">
        <p>
          <input type="text" name="msg">
          <input type="submit" value="Click">
        </p>
      </form>
    </div>
  </body>
</html>
